@media all and (max-width: 767px)
{
    @font-face 
    {
        font-family: 'FontAwesome';
        src: url('webagency_images/fonts/Roboto-Regular.ttf') format('truetype');  
    }
    
    html
    {
        margin: 0;
        padding: 0;
        
        font-family: 'FontAwesome', sans-serif, cursive;
        scroll-behavior: smooth;
    }

    body
    {
        margin: 0;
        padding: 0;
    }
    
    #Top
    {
        background-color: white;
        display: flex;
        flex-direction: column;
        width: 100%;
        position: fixed;
        z-index: 10;
    }
    
    header
    {
        margin-top: 1%;
        width: 100%;
    }
    
    header img
    {
        width: 40%;
        margin-left: 30%;
    }
    
    /*Menu du site */
    nav
    {
        width: 100%;
        text-align: center;
    }
    
    nav ul
    {
        padding: 0;
        margin-bottom: 0;
    }
    
    nav ul li
    {
        display: inline-block;    
        padding: 5.0%;
    }

    nav ul li a
    {
        text-align: center;
        text-decoration: none;
        color: black;
        font-size: 3.0vw;
    }
    /* Element 1 de la liste */ 
    nav ul li:nth-child(1)
    {
        box-shadow: 0px 3px 0px #00ace6 inset;
        
    } 
    
    /* Survoler Menu */
    nav ul li:hover, nav ul li:active
    {
        /* off-set X, off-set Y, Blur  */
        box-shadow: 0px 3px 0px #00ace6 inset;
    } 
    
    #Slider 
    {
        position: relative;
    }
    
    #Slider p
    {
        width: 100%;
        margin: 0;
    }
    
    #Slider p img
    {
        width: 100%;
        vertical-align: middle;
        margin-top: 30%;
    }
    
    #Load_Timer
    {
        position: absolute;
        width: 100%;
        bottom: 0;
        height: 0.5%;
        background-color: rgb(0,0,0,0.1);
    }
    
    #Timer
    {
        position: absolute;
        width: 10%;
        bottom: 0;
        height: 0.2vw;
        background-color: #00ace6; 
    }
    
    #Slider_Catchline
    {
        position: absolute;
        margin-top: 30%;
        margin-left: 5%;
        color: white;
    } 

    #Slider_Catchline h2
    {
        font-size: 3.5vw;
        margin-left: 2.0vw;
    }

     #Slider_Catchline p
    {
        font-size: 2.5vw;
        width: 70%;
        text-align: center;
    }

    .bluecolor
    {
        color: #5CADD3;
    }
    
    #Info_Button
    {
        position: absolute;
        font-size:  2.0vw;
        background-color: #5CADD3;
        border-bottom: 0.5px outset #5CADD3;
        border-radius: 2px;
        margin-top: 55%;
        margin-left: 15%;
        padding-left: 1.0%;
        padding-right: 1.0%; 
        color: white;
    }
    
    #Info_Button p
    {
        margin-top: 10%;
        margin-bottom: 10%;
        font-weight: bold;
    }
    
     /* Chevron Gauche */
    .fa-chevron-left
    {
        font-size: 2.5vw;
        color: white;
        width: 2%;
        margin-top: 80%;
        margin-left: 20%;
    }
    
    /* Demi-cercle semi-transparent du chevron gauche */
    #Left_Circle
    {
        position: absolute;
        margin-top: 43%;
        background-color: rgb(0,0,0,0.2);
        width: 5.0%;
        height: 15%;
        border-top-right-radius: 150vw;
        border-bottom-right-radius: 150vw;
    }
    
     /* Chevron Droit */
    .fa-chevron-right
    {
        font-size: 2.5vw;
        color: white;
        width: 2%;  
        margin-top: 80%;
        margin-left: 40%;
    }  
    
    /* Demi-cercle semi-transparent du chevron droit */
    #Right_Circle
    {
        width: 5.0%;
        height: 15%;
        background-color: rgb(0,0,0,0.2);
        position: absolute;
        margin-top: 43%; 
        margin-left: 95.5%; 
        border-top-left-radius: 150vw;
        border-bottom-left-radius: 150vw;
    }
    
    /* Titres Sections */
    
    #Services
    {
        padding-top: 30%;
    }
    
    section h1
    {
        text-align: center;
        font-weight: bold;
        font-size: 4.0vw;
        margin-bottom: 0;
    }
    
    .Transition_Container
    {
        width: 10%;
        height: 50px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    .Transition_Container hr
    {
        border: 1px solid rgb(0,0,0,0.2);
        width: 100%;
    }
    
    .Transition_Container .fa-circle
    {
        position: absolute;
        color: #5CADD3;
        font-size: 1.4vw;
        border: 4px solid white;
        border-radius: 100%;
        z-index: 1;
    }
    
    .Catchline p
    {
        font-size: 2.0vw;
        margin-right: 10%;
        margin-left: 10%;
        text-align: center;
    }
    
    #Media
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 2%;
    }
    
    #Mac_Image img
    {   
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
    
    
    #Informations
    {
        display: flex;
        margin-top: 4%;
        margin-left: 10%;
    }

    #Information_Text
    {
        margin-bottom: 2%;
        width: 100%;
    }
    
    #Informations p
    {
        font-size: 2.0vw;
        margin-left: 6%;
    }  
    
    #Informations h2
    {
        font-size: 2.5vw; 
        margin-left: 6%;
    }
    
    #Informations_Logos
    {
        display: flex;
        flex-direction: column;
        color: #5CADD3;  
        margin-top: 3.0vw;
    }
    
    #Informations_Logos .Logos_Circle
    {
        position: relative;
        width: 6.0vw;
        height: 6.0vw;
        border: 1px solid #E5E5E5;
        border-radius: 100%;   
        margin-bottom: 6.0vw; 
    }
    
    #Informations_Logos .fa-chart-line, .fa-cubes, .fa-chart-pie
    {  
        position: absolute;
        font-size: 2.5vw;
        color: #5CADD3;  
        padding-left: 30%;
        padding-top: 30%;
    }
        
    #Informations_Logos .fa-circle
    {
        position: absolute;
        font-size: 1.5vw;
        color: #5CADD3;  
        margin-left: 82%;
        margin-top: 33%;
        border: 3px solid white;
        border-radius: 100%;
    }
    
    #Portfolio
    {
        position: relative;
        background-color: #F5F5F5;
        padding-top: 30%;
        padding-bottom: 10%;
    }
    
    #Accroche_Portfolio p
    {
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
        font-size: 2.0vw;
    }
    
    #Menu_Portfolio
    {
        display: flex;
        justify-content: center;
        margin-top: 3%;
        margin-bottom: 5%;
        width: 100%;
    }
    
    .element1
    {
        position: relative;
        padding-top: 1.0%;
        padding-bottom: 1.0%;
        padding-left: 2.0%;
        padding-right: 2.0%;
        background-color: #E5E5E5;
        user-select: none;
    }
    
     .element1 p
    {
        margin: 0;
        padding: 0;
        font-size: 3.0vw;
    }
    
    .element1 .fa-caret-down
    {
        position: absolute;
        font-size: 4.0vw;
        bottom: -40%;
        left: 42%;
        color: #468CAD;
        visibility: hidden;
    }
    
    .element1:hover, .element1:active
    {
        background-color: #5CADD3;
        color: white;
        box-shadow: inset 0px -3px  #468CAD;
    }
    
    .element1:nth-child(1)
    {
        background-color: #5CADD3;
        color: white;
        box-shadow: inset 0px -3px  #468CAD;
    }
    
    .element1:hover .fa-caret-down, .element1:active .fa-caret-down
    {
        visibility: visible;
    }
    
    .element1:nth-child(1) .fa-caret-down
    {
        visibility: visible;
    } 
    
    .element1:nth-child(1)
    {
        border-top-left-radius: 10%;
        border-bottom-left-radius: 10%;
    }
    
    .element1:nth-child(4)
    {
        border-top-right-radius: 10%;
        border-bottom-right-radius: 10%;
    }
    
    #Images_Projects
    {
        padding-top: 2%;
        padding-bottom: 2%;
        display: flex;
        flex-wrap: wrap;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    #Images_Projects figure
    {
        position: relative;
        margin: auto;
        margin-bottom: 2%;     
    }
    
    #Images_Projects figure:hover figcaption, #Images_Projects figure:active figcaption
    {
        visibility: visible;
    }
    
    #Images_Projects figure:hover .figcaption_eye, #Images_Projects figure:active .figcaption_eye 
    {
        visibility: visible;
    }
    
    #Images_Projects figure img
    {
        width: 40vw;
        vertical-align: middle;
    }
    
    #Images_Projects figure figcaption
    {
        position: absolute;
        width: 100%;
        height: 35%;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        visibility: hidden;
    }
    
    #Images_Projects figure figcaption h2
    {
        color: white;
        font-weight: bold;
        margin: 0;
        font-size: 2.0vw;
        margin-top: 5%;
        margin-left: 2%;
    }
    
    #Images_Projects figure figcaption p
    {
        color: white;
        margin: 0;
        font-size: 2.0vw;
        margin-top: 1.5%;
        margin-left: 2%;
    }
    
    #Images_Projects figure .figcaption_eye
    {
        position: absolute;
        width: 15%;
        height: 20%;
        background-color: #468CAD;
        border: 2px solid white;
        border-radius: 100%;
        text-align: center;
        z-index: 2;
        margin-left: 70%;
        margin-top: 35%;
        visibility: hidden;
    }
    
    #Images_Projects figure .figcaption_eye .fa-eye
    {
        position: absolute;
        font-size: 1.2vw;
        right: 40%;
        top: 45%;
        color: white;
    }
    
    #Contact
    {
        position: relative;
        padding-top: 24%;
        background-color: #F5F5F5;
    }
    
    #Map
    {
        width: 100%;
        background-color: rgb(78,177,214);
    } 
    
    #Contact #Map iframe
    {
        width: 100%;
        height: 500px;
        border: 0;
        opacity: 0.6;
        vertical-align: middle;
    }  
    
    #Formulary
    {
        padding-top: 5%;
        background-color: #F5F5F5;
    }
    
    #Formulary form h2
    {
        display: flex;
        flex-direction: column;
        margin: 0;
        font-size: 3.0vw;
        margin-bottom: 2.0%;
        text-align: center;
    }
    
    #Formulary form p
    {
        display: flex;
        flex-direction: column;
        margin: 0;
        font-size: 2.0vw;
        text-align: center;
    }
    
    #Formulary form p input
    {
        margin-top: 1.5%;
        margin-bottom: 2.5%;
        margin-left: 38%;
        padding: 2%;
        border-radius: 5%;
        width: 20vw;
        font-size: 2.5vw;
    }
    
    #Formulary form p textarea
    {
        margin-top: 2.5%;
        margin-left: 38%;
        padding: 2%;
        height: 8vw;
        width: 20vw;
        border-radius: 2%;
        font-size: 2.5vw;
        resize: none;
    }
    
    #Formulary form p #Submit_Button
    {
        width: 25vw;
        border: 1px solid #5CADD3;
        margin-top: 5%;
        border-radius: 10%;
        font-size: 2.0vw;
        font-weight: bold;
        color: white;
        background-color: #5CADD3;
        border-bottom: 3px outset #5CADD3;
    }
}